/* * font-familys

font-family: Monoton , sans-serif;
font-family: Ubuntu , sans-serif;


*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    max-width: 1400px;
}

html {
}

/*  */

/* **************** font family ************* */

@font-face {
    font-family: Monoton;
    src: url("../fonts/Monoton/Monoton-Regular.ttf");

}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}


/* ***************** body ****************** */
/* ***************** body ****************** */
/* ***************** body ****************** */


body{
    background-color: #070707;

    position: relative;

}






/* ***************** header ***************** */
/* ***************** header ***************** */
/* ***************** header ***************** */

header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #9d9f9f;

    width: 100%;

    position: fixed;
    top: 0px;

}

/* ***************** header links ************** */

.header__links {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;


}

.header__links>p {
    background-color: yellow;
    font-family: Monoton, sans-serif;
    font-size: 2rem;

    color: #9d9f9f;


}

.header__links>a {
    background-color: green;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Ubuntu, sans-serif;
    font-size: 0.8rem;

    color: #9d9f9f;

}


/* **************** header rechts ************** */

.header__rechts {
    background-color: rgb(69, 69, 195);
    display: flex;
    justify-content: space-around;
    width: 60vw;
    align-items: center;

    font-size: 1rem;
    padding-right: 5vw;


}

.header__rechts>a {
    background-color: yellow;
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.05rem;

color: #AC8059;
}

/* ********* header rechts extra farbe     home   ****** */

.header__rechts>a:nth-of-type(1){
    background-color: orange;
    color: #f4f7f8;
}

/* ****************** main ***************** */
/* ****************** main ***************** */
/* ****************** main ***************** */

main{

    padding-top: 15vh;    /* * damit die Bilder am Anfang nicht gleich unter dem Header sind */

    display: flex;
    max-width: 1400px;     /* * max-width auch im html 1400px */

}


/* ****************** main text ***************+ */

.main__text {
    background-color: greenyellow;
    width: 25vw;
    margin-top: 30vh;
    margin-left: 15vw;
}


.main__text>p:nth-of-type(1){
    background-color: yellow;
    color: #9d9f9f;
    font-family: Ubuntu , sans-serif;   
    font-size: 4rem;
}

.main__text>p:nth-of-type(2){
 background-color: rgb(9, 134, 74);   
 color: #AC8059;
 text-transform: uppercase;
 padding-left: 4vw;

}

.main__text>p>span{
    background-color:blue;
    color: #AC8059;
    margin-bottom: -30px;
    text-decoration:line-through;   /* * wie bekommt man strich ohne svg hin ? */
    width: 20px;
    height: 2px;
        
}

/* ****************** main bilder ************** */


.main__bilder{
    background-color: red;
    width: 40vw;
    position: relative;
}

.main__bilder>img:nth-of-type(1){
    border: 1px solid red;
    position: absolute;
    top: 0px ;
    left: 40px;
    width: 15vw;
    height: 70vh;
    z-index: 100;

    object-fit: cover;

    object-position: -2.3rem;
}

.main__bilder>img:nth-of-type(2){
    border: 1px solid yellow;
    position: absolute;
    top: 0;
    left: 300px;
    width: 15vw;
    height: 70vh;

    object-fit:cover;

    object-position: -6rem;  /* * Heizung abschneiden */
}

.main__bilder>img:nth-of-type(3){
    border: 1px solid greenyellow;
    position: absolute;
    top: 0;
    left: 550px;
    width: 15vw;
    height: 70vh;
    
    object-fit: cover;

    object-position:-2.5rem;  /* *verschieben des Bildes im Rahmen, damit man teile des Buches auf Tisch sieht */
}

